In [13]:
import pandas as pd

a = pd.read_csv('colors(csvfile5).csv')
a

    Colors       Fruits         Cars      Cities  Integers  float
0    Green        Mango      Corolla     Karachi         1  1.200
1   Golden       Banana        Civic      Lahore         4  3.400
2     Blue       Orange        Hilux      Makkah         6  9.800
3   Yellow         Kiwi        Prado      Madina         2  7.600
4   Orange        Berry       Cultus  Islam Abad         3  9.760
5   Purple       Grapes        Camry  Hyder Abad         8  3.090
6    Brown        Apple        Supra    Peshawer         7  0.005
7   Silver  Watermmelon      Bugatti        Gaza         9  4.980
8     Grey       Cherry  Lamborghini       Kabul         7  6.650
9    White       Papaya      Ferrari      Tehran         6  3.600
10     Red      Coconut     Formula1    Istanbul         2  9.780

In [14]:

a['Fruits'].apply(len)

0      5
1      6
2      6
3      4
4      5
5      6
6      5
7     11
8      6
9      6
10     7
Name: Fruits, dtype: int64

In [15]:
# as it doesn't support integers and float, so first we will convert them to string to see their length
a['float'] = a['float'].astype(str)
a['float'].dtype # now this column is converted to string

dtype('O')

In [16]:
a['float'].apply(len)

0     3
1     3
2     3
3     3
4     4
5     4
6     5
7     4
8     4
9     3
10    4
Name: float, dtype: int64

In [17]:
a['float'].apply(lambda x : len(x))

0     3
1     3
2     3
3     3
4     4
5     4
6     5
7     4
8     4
9     3
10    4
Name: float, dtype: int64