In [1]:
import datetime as dt

x = dt.date(2005,2,2) # yyyy-mm-dd
x

datetime.date(2005, 2, 2)

In [2]:
print(dt.date(2005,2,2))

2005-02-02

In [3]:
x.year,x.month,x.day

(2005, 2, 2)

In [4]:
str(x) # converting datetime to string

'2005-02-02'

In [5]:
import pandas as pd

a = pd.to_datetime('2005-2-2')
a

Timestamp('2005-02-02 00:00:00')

In [6]:
print(a)

2005-02-02 00:00:00

In [7]:
pd.to_datetime(a)

Timestamp('2005-02-02 00:00:00')