###
## Checking attributes of csv file:
###

In [8]:

import pandas as pd

a = pd.read_csv('famous place(csvfile3).csv')
a

print(f'Atrributes:\n\nLength:\n{len(a)}\n\nType:\n{type(a)}\n\nShape:\n{a.shape}\n\nSize:\n{a.size}\n\nDimension:\n{a.ndim}\n\nIndex:{a.index}\n\nData Types:\n{a.dtypes}\n\nValues:\n{a.values}\n\nColumns:\n{a.columns}')

Atrributes:

Length:
3

Type:
<class 'pandas.core.frame.DataFrame'>

Shape:
(3, 2)

Size:
6

Dimension:
2

Index:RangeIndex(start=0, stop=3, step=1)

Data Types:
Country         object
Famous Place    object
dtype: object

Values:
[['Pakistan' 'Faisal Mosque']
 ['Afghanistan' 'Band-e National Park']
 ['Palestine' 'Al-Aqsa Mosque']]

Columns:
Index(['Country', 'Famous Place'], dtype='object')

###
## Getting Specific Column:
###

In [1]:
import pandas as pd

a = pd.read_csv('name,age,gender.csv')
b = pd.read_csv('name,age,gender.csv',usecols = ['Name'])
c = pd.read_csv('name,age,gender.csv',usecols = ['Gender'])
d = c = pd.read_csv('name,age,gender.csv',usecols = ['Age'])

d

   Age
0   20
1   19
2   21
3   19

###
## Applying Statistical Operations:
###

In [3]:
import pandas as pd

a = pd.read_csv('name,age,gender.csv',usecols = ['Age']).squeeze()
a
a.sum(),a.mean(),a.median(),a.std(),a.count(),a.max(),a.min(),a.sort_values(),sorted(a),a.sort_values(ascending = False),list(a),dict(a)

(79,
 19.75,
 19.5,
 0.9574271077563381,
 4,
 21,
 19,
 1    19
 3    19
 0    20
 2    21
 Name: Age, dtype: int64,
 [19, 19, 20, 21],
 2    21
 0    20
 1    19
 3    19
 Name: Age, dtype: int64,
 [20, 19, 21, 19],
 {0: 20, 1: 19, 2: 21, 3: 19})

In [4]:
dict(a)

{0: 20, 1: 19, 2: 21, 3: 19}