###
## Applying Python Built in Functions:
###

In [4]:

import pandas as pd

file = a = pd.read_csv('name,age,gender.csv')
a = pd.read_csv('name,age,gender.csv',usecols = ['Name']).squeeze()
b = pd.read_csv('name,age,gender.csv',usecols = ['Age']).squeeze()

a.apply(type),b.apply(type),a.apply(len),file.applymap(lambda x: str(x).split()),a.apply(lambda x: str(x).split())

(0    <class 'str'>
 1    <class 'str'>
 2    <class 'str'>
 3    <class 'str'>
 Name: Name, dtype: object,
 0    <class 'int'>
 1    <class 'int'>
 2    <class 'int'>
 3    <class 'int'>
 Name: Age, dtype: object,
 0    3
 1    8
 2    8
 3    6
 Name: Name, dtype: int64,
          Name   Age    Gender
 0       [Ali]  [20]    [Male]
 1  [Mohammed]  [19]    [Male]
 2  [Jennifer]  [21]  [Female]
 3    [Rayyan]  [19]    [Male],
 0         [Ali]
 1    [Mohammed]
 2    [Jennifer]
 3      [Rayyan]
 Name: Name, dtype: object)

In [5]:
a.apply(str.lower),a.apply(str.upper),a.apply(str.title),a.apply(str.split)

(0         ali
 1    mohammed
 2    jennifer
 3      rayyan
 Name: Name, dtype: object,
 0         ALI
 1    MOHAMMED
 2    JENNIFER
 3      RAYYAN
 Name: Name, dtype: object,
 0         Ali
 1    Mohammed
 2    Jennifer
 3      Rayyan
 Name: Name, dtype: object,
 0         [Ali]
 1    [Mohammed]
 2    [Jennifer]
 3      [Rayyan]
 Name: Name, dtype: object)

In [6]:
a.apply(str.split)

0         [Ali]
1    [Mohammed]
2    [Jennifer]
3      [Rayyan]
Name: Name, dtype: object

###
## Split:
###

In [7]:

import pandas as pd

a = pd.read_csv('name,age,gender.csv')
b = a.applymap(lambda x: str(x).split())
b

         Name   Age    Gender
0       [Ali]  [20]    [Male]
1  [Mohammed]  [19]    [Male]
2  [Jennifer]  [21]  [Female]
3    [Rayyan]  [19]    [Male]