###
## Columns Manipulation:
###

In [2]:

import pandas as pd

a = pd.read_csv('colors(csvfile4).csv')
a

    Colors       Fruits         Cars
0    Green        Mango      Corolla
1   Golden       Banana        Civic
2     Blue       Orange        Hilux
3   Yellow         Kiwi        Prado
4   Orange        Berry       Cultus
5   Purple       Grapes        Camry
6    Brown        Apple        Supra
7   Silver  Watermmelon      Bugatti
8     Grey       Cherry  Lamborghini
9    White       Papaya      Ferrari
10     Red      Coconut     Formula1

In [5]:
a.columns

Index(['Colors', 'Fruits', 'Cars'], dtype='object')

In [7]:
a['Fruits']

0           Mango
1          Banana
2          Orange
3            Kiwi
4           Berry
5          Grapes
6           Apple
7     Watermmelon
8          Cherry
9          Papaya
10        Coconut
Name: Fruits, dtype: object

In [8]:
a[['Fruits']]

         Fruits
0         Mango
1        Banana
2        Orange
3          Kiwi
4         Berry
5        Grapes
6         Apple
7   Watermmelon
8        Cherry
9        Papaya
10      Coconut

In [10]:
type(a['Fruits']), type(a[['Fruits']])

(pandas.core.series.Series, pandas.core.frame.DataFrame)

In [11]:
a['Colors'].dtypes

dtype('O')

In [12]:
a.Fruits

0           Mango
1          Banana
2          Orange
3            Kiwi
4           Berry
5          Grapes
6           Apple
7     Watermmelon
8          Cherry
9          Papaya
10        Coconut
Name: Fruits, dtype: object

In [13]:
a.Fruits.dtypes

dtype('O')

In [14]:
a[['Fruits']].squeeze()

0           Mango
1          Banana
2          Orange
3            Kiwi
4           Berry
5          Grapes
6           Apple
7     Watermmelon
8          Cherry
9          Papaya
10        Coconut
Name: Fruits, dtype: object

In [15]:
a[['Fruits','Cars','Colors']]

         Fruits         Cars  Colors
0         Mango      Corolla   Green
1        Banana        Civic  Golden
2        Orange        Hilux    Blue
3          Kiwi        Prado  Yellow
4         Berry       Cultus  Orange
5        Grapes        Camry  Purple
6         Apple        Supra   Brown
7   Watermmelon      Bugatti  Silver
8        Cherry  Lamborghini    Grey
9        Papaya      Ferrari   White
10      Coconut     Formula1     Red