###
## Arithmetic Operations:
###

In [1]:

import pandas as pd

a = pd.read_csv('colors(csvfile5).csv')

#a['Integers'] + 2000
#a['Integers'] - 2000
#a['Integers'] * 2.98
#a['Integers'] / 1.5 
#a['Integers'] // 1.5 
#a['Integers'] % 1.5 
#a['Integers'].add(250)
#a['Integers'].sub(250)
#a['Integers'] + a['float']

#a['int+Float'] = a['Integers'] + a['float']
a

    Colors       Fruits         Cars      Cities  Integers  float
0    Green        Mango      Corolla     Karachi         1  1.200
1   Golden       Banana        Civic      Lahore         4  3.400
2     Blue       Orange        Hilux      Makkah         6  9.800
3   Yellow         Kiwi        Prado      Madina         2  7.600
4   Orange        Berry       Cultus  Islam Abad         3  9.760
5   Purple       Grapes        Camry  Hyder Abad         8  3.090
6    Brown        Apple        Supra    Peshawer         7  0.005
7   Silver  Watermmelon      Bugatti        Gaza         9  4.980
8     Grey       Cherry  Lamborghini       Kabul         7  6.650
9    White       Papaya      Ferrari      Tehran         6  3.600
10     Red      Coconut     Formula1    Istanbul         2  9.780